body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #ffffff;

}

body {
  margin: 0;
  padding: 0;
  background: #849d8f
}

body > input[type="radio"] {
  display: none;
}

.site-wrapper {
  min-width: 1200px;
  background: #849d8f url("../img/slider_option1.png") no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper:before,
.site-wrapper:after {
  content: "";
  visibility: hidden;
}

.site-wrapper:before{
  background-image: url("../img/slider_option2.png");
}

.site-wrapper:after {
  background-image: url("../img/slider_option3.png");
}

.container-center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header .container-center {
  position: relative;
}

.main-header .main-navigation {
  float: left;
  max-width: 766.70px;
}

.main-navigation .catalog-menu {
  margin: 0;
  margin-left: 163.88px;
  padding: 0;
  padding-top: 23px;
  list-style: none;
  font-size: 0;
}

.catalog-menu > li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.catalog-menu > li > a {
  display: block;
  padding: 7.38px 13.13px;
  color: #ffffff;
  text-decoration: none;
  line-height: 14px;
}

.catalog-menu span {
  border-bottom: 2px rgba(255, 255, 255, 0.4) solid;
}

.main-navigation a:hover {
  background: #f7f6f3;
  color: #333333;
}

.main-navigation .catalog-submenu {
  display: none;
  position: absolute;
  top: 37px;
  left: -6.62px;
  min-width: 142.81px;
  margin: 0;
  padding: 0;
  padding-top: 10.87px;
  padding-bottom: 10.78px;
  background: #f7f6f3;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-submenu > li {
  font-size: 14px;
  font-weight: normal;
}

.catalog-submenu a {
  display: block;
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 19.75px;
  padding-right: 21.14px;
  color: #343434;
  text-decoration: none;
}

.catalog:hover .catalog-submenu {
  display: block;
}

.main-header .user-block {
  float: right;
  max-width: 322.61px;
  padding-top: 23px;
  vertical-align: top;
  font-size: 0;
}

.user-search, .user-login, .user-cart {
  display: inline-block;
  position: relative;
  margin-left: 10.20px;
  font-size: 14px;
  font-weight: 500;
}

.search-link, .user-login-link, .user-cart-link {
  display: block;
  position: relative;
  padding-top: 8.06px;
  padding-bottom: 8.22px;
  color: #ffffff;
  text-decoration: none;
  background: #9db1a5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-link {
  width: 17px;
  height: 17px;
}

.search-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background: #ff0000;
}

.user-login-link {
  min-width: 91.88px;
  padding-left: 44px;
}

.user-login-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background: #ff0000;
}

.user-cart-link {
  min-width: 117px;
  padding-left: 44px;
}

.user-cart-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: #ff0000;
}

.user-search-form, .user-login-form, .user-cart-form {
  display: none;
  position: absolute;
  right: 0;
  top: 36px;
  background: #f8f7f4;
}

.search-link:hover,
.user-login-link:hover,
.user-cart-link:hover {
  background: #f8f7f4;
  color: #313131;
}

.user-search:hover .user-search-form,
.user-login:hover .user-login-form,
.user-cart:hover .user-cart-form {
  display: block;
}

.cart-number-of-items {
  display: none;
}

.user-cart:hover .cart-number-of-items {
  display: block;
}

.user-cart:hover .cart-empty {
  display: none;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header .logo {
  position: absolute;
  top: 9.69px;
  left: 21.75px;
}

.main-header .contact-info {
  position: absolute;
  top: 70.87px;
  right: 27px;
  width: 322.61px;
  color: #ffffff;
  font-size: 0;
  text-align: right;
}

.contact-info-normal {
  font-size: 14px;
  font-weight: bold;
  line-height: 15.67px;
}

.contact-info-bold {
  font-size: 22px;
  font-weight: bold;
  line-height: 28.35px;
}

.slider {
  position: relative;
  margin-bottom: 40.67px;
  padding-top: 339.50px;
  text-align: center;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 19.77px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 900;
  line-height: 60.35px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  background-color: #e94f38;
  color: #ffffff;
  text-decoration: none;
}

.btn-slider {
  padding: 14.33px 38.80px;
  text-align: center;
  font-size: 31.48px;
  font-weight: bold;
  line-height: 41px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.slide-btn:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 22.55px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider_option1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider_option2.png");
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider_option3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.special-offers {
  margin-bottom: 40.25px;
  color: #ffffff;
}

.special-offer {
  max-width: 560px;
  padding-left: 18px;
  padding-right: 20px;
  padding-top: 17.67px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2.special-offer-header {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 35px;
  font-weight: bold;
  line-height: 38.61px;
}

.special-offers p {
  margin-top: 0;
  margin-bottom: 27.29px;
  min-height: 58.78px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
}

.malinka {
  float: left;
  background: #a70004 url("../img/special_offer_malinka.png") no-repeat;
  background-size: cover;
}

.chocolate {
  float: right;
  background: #4a2a1c url("../img/special_offer_chocolate.png") no-repeat;
  background-size: cover;
}

.btn-special-offer {
  margin-bottom: 22.89px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.btn-special-offer a {
  padding: 12.99px 21.86px;
}

.hit-list {
  margin-bottom: 39.83px;
  font-size: 0;
}

.hit {
  display: inline-block;
  max-width: 267px;
  margin-right: 26px;
  text-align: center;
}

.hit:last-child {
  margin-right: 0;
}

.hit-image {
  position: relative;
  z-index: 2;
  width: 267px;
  height: 267px;
  margin-bottom: 15px;
}

.hit-icon {
  font-size: 0;
}

.hit-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  z-index: 3;
  background: #ff0000;
}

.hit-image-price {
  position: absolute;
  top: 208.5px;
  left: 0;
  z-index: 100;
  vertical-align: bottom;
  font-size: 45px;
  font-weight: bold;
  line-height: 52px;
  color: #ffffff;
}

.hit-image-price .kg {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
}

.hit-image-price-P {
  font-size: 0;
}

.hit-image-price-P::after {
  content: "";
  position: absolute;
  top: 9.36px;
  left: 85.04px;
  width: 31px;
  height: 36px;
  z-index: 3;
  background: #ff0000;
}

.hit-image-price-P {
  margin: 0 20px;
}

.hit-image-icecream {
  margin-bottom: 15px;
}

.hit-title a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 22px;
  text-decoration: none;
  border-bottom: 2px rgba(255, 255, 255, 0.4) solid;
}

.seo {
  max-width: 1146px;
  margin-bottom: 40px;
  padding-top: 27.17px;
  padding-left: 20.81px;
  padding-bottom: 13.8px;
  padding-right: 15.18px;
  background: #ede0c6 url("../img/seo-pattern.jpg") repeat;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #353535;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.seo-header {
  margin: 0;
  margin-bottom: 9.81px;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
}

.seo-text {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
}

.seo-content1, .seo-content2, .seo-content3, .seo-content4 {
  display: inline-block;
  position: relative;
  margin-bottom: 11.15px;
  padding-left: 55.84px;
  padding-top: 14.69px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.seo-content1, .seo-content3 {
  max-width: 535.79px;
  margin-right: 25.75px;
}

.seo-content2, .seo-content4 {
  max-width: 540px;
}

.seo-content1 .seo-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background: #ff0000;
}

.seo-content2 .seo-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background: #ff0000;
}

.seo-content3 .seo-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background: #ff0000;
}

.seo-content4 .seo-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  background: #ff0000;
}

.wrapper-blognews-mailing {
  margin-bottom: 39.78px;
}

.blog-news {
  float: left;
  max-width: 560px;
  min-height: 220px;
  padding-top: 25.71px;
  padding-left: 20.81px;
  padding-right: 254.98px;
  background: url("../img/blog_news_bd.png") no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.blog-news span {
  margin: 0;
  margin-bottom: 8px;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
}

.main-news {
  margin: 0;
  color: #353535;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
}

h3.main-news {
  font-size: 24px;
  font-weight: bold;
  color: #353535;
  line-height: 29px;
}

.mailing {
  float: right;
  max-width: 560px;
  min-height: 220px;
  padding-top: 36.86px;
  padding-left: 26.19px;
  padding-right: 23px;
  background: url("../img/mailing_form_bd.png") no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mailing p {
  margin: 0;
  margin-bottom: 37.29px;
  font-size: 16px;
  font-weight: normal;
  color: #5a5a5a;
  line-height: 22px;
}

.mailing-form {
  font-size: 0;
  vertical-align: top;
}

.mailing-form input[type="email"] {
  display: inline-block;
  max-width: 367.11px;
}

.mailing-form label {
  margin: 0;
  padding: 0;
}

.mailing-form button[type="submit"] {
  display: inline-block;
  padding: 12.99px 21.86px;
  text-align: right;
  font-size: 18px;
  font-weight: bold;
}

.mailing-form fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.map .container-center {
  min-height: 429.43px;
  max-width: 1200px;
}

.map-image {
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.map .container-center {
  padding: 0;
  position: relative;
}

.map-contacts {
  position: absolute;
  right: 0;
  top: 50%;
  width: 302px;
  height: 305px;
  margin-top: -152.5px;
  background: red;
}

.footer-social {
  float: left;
  width: 184.25px;
  margin-right: 217.78px;
  padding-top: 35.67px;
  padding-left: 1px;
  font-size: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.footer-social .social-btn {
  display: inline-block;
  width: 36.65px;
  height: 36.65px;
  margin-right: 12px;
  font-size: 0;
  background: black;
}

.footer-social .social-btn:last-child {
  margin-right: 0;
}

.footer-about-us {
  float: left;
  position: relative;
  padding-top: 35.67px;
  padding-left: 21.66px;
  padding-bottom: 30px;
  vertical-align: top;
  font-size: 0;
}

.about-us-column1, .about-us-column2 {
  display: inline-block;
  font-size: 0;
}

.about-us-column1 {
  margin-right: 30.83px;
}

.footer-about-us a {
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  line-height: 14px;
  border-bottom: 2px rgba(255, 255, 255, 0.4) solid;
}

.about-us-column1 a:first-child {
  font-weight: bold;
}

.footer-about-us::before {
  content: "";
  position: absolute;
  top: 35.67px;
  left: 0;
  width: 15px;
  height: 13px;
  background: #ff0000;
}

.footer-copyright {
  float: right;
  position: relative;
  width: 187.81px;
  padding-top: 19.20px;
  font-size: 0;
  line-height: 0;
}

.footer-copyright p a {
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
  line-height: 13.33px;
  border-bottom: 2px rgba(255, 255, 255, 0.4) solid;
}

.footer-copyright p {
  margin: 0;
  margin-top: 7.45px;
  padding: 0;
  font-size: 12px;
  font-weight: normal;
  color: #ffffff;
}

/**h1.container-header-header {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
}

.icecream-title {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  line-height: 22px;
}**/
