body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  font-weight:normal;
  color: #ffffff;
  line-height: 22px;
}
  body {
    margin: 0;
    padding: 0;
    background-color:gainsboro;
    min-width:1200px;

}
.page-background {
  background: #849d8f;
  width: 1200px;
  margin: 0 auto;
}

  .main-header {
    width:100%;
    margin-bottom: 14.17px;
    background: #849d8f;
  }

 .container-center {
   padding: 0 27px;
   z-index: 5;
   }

 header .container-center {
   position: relative;
 }

.main-header .main-navigation {
   max-width:766.70px;
   float:left;
 }

.main-navigation .catalog-menu {
  margin: 0;
  margin-left: 163.88px;
  padding: 0;
  list-style: none;
  font-size: 0;
  padding-top: 23px;
  padding-bottom: 15.87px;
}

.catalog-menu > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
}

.catalog-menu > li > a {
  display: block;
  padding: 7.38px 13.13px;
  color: #ffffff;
}

.main-navigation a:hover {
  background: #f7f6f3;
  color: #333333;
  text-decoration: none;
}

.main-navigation .catalog-submenu {
  display: none;
  position: absolute;
  top: 37px;
  left: -6.62px;
  margin: 0;
  padding: 0;
  min-width:142.81px;
  list-style: none;
  background: #f7f6f3;
  padding-top: 10.87px;
  padding-bottom: 10.78px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.catalog-submenu > li {
  font-size: 14px;
  font-weight: normal;
}

.catalog-submenu a {
  display:block;
  color: #343434;
  text-decoration: none;
  padding-left: 19.75px;
  padding-right: 21.14px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: 5px;
}

.catalog:hover .catalog-submenu {
  display: block;
}

.main-header .user-block {
  max-width: 322.61px;
   float: right;
   vertical-align: top;
  font-size: 0;
  padding-top: 23px;
  padding-bottom: 15.87px;
}


.user-search, .user-login, .user-cart{
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10.20px;
   position: relative;
}

.search-link, .user-login-link, .user-cart-link {
  display: block;
  padding-top: 8.06px;
  padding-bottom: 8.22px;
  color: #ffffff;
  text-decoration: none;
  background: #9db1a5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.search-link {
  width:17px;
  height:17px;
}
.search-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  background: #ff0000;
}

.user-login-link{
  padding-left: 44px;
  min-width: 91.88px;
}

.user-login-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 19px;
  background: #ff0000;
}

.user-cart-link{
  min-width: 117px;
  padding-left: 44px;
}

.user-cart-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 16px;
  width: 21px;
  height: 20px;
  background: #ff0000;
}



.user-search-form, .user-login-form, .user-cart-form  {
  display: none;
  position: absolute;
  right:0;
  top: 36px;
  background: #f8f7f4;
}

.search-link:hover,
.user-login-link:hover,
.user-cart-link:hover{
  background: #f8f7f4;
  color:#313131;
  }



.user-search:hover .user-search-form,
.user-login:hover .user-login-form,
.user-cart:hover .user-cart-form {
  display: block;
}

.user-login-form {

}


.user-cart-form {

}



.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header .logo {
  position: absolute;
  top: 9.69px;
  left: 21.75px;
}
.main-header .contact-info {
  position: absolute;
  top: 75px;
  right:27px;
  width: 322.61px;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #ffffff;
  line-height: 29px;
  text-align: right;
}

.contact-info-normal {
  font-size: 14px;
  font-weight:bold;
}

.contact-info-bold {
  font-size: 22px;
  font-weight:bold;
}

.container-slider {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding-top:309.46px;
  text-align: center;
  margin-bottom: 39px;
}

.slider-image {
  position: absolute;
  top: -85.04px;
  left: 50%;
  margin-left: -523px;
  z-index: 1;

}

.slider p {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #ffffff;
  font-size: 60px;
  font-weight:900;
  line-height: 60.35px;
  text-align: center;
  position: relative;
  z-index: 3;
  margin-bottom: 19.77px;
  margin-top: 0;
}

.btn {
  display: inline-block;
  background-color: #e94f38;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  }

.btn-slider {
  text-align: center;
  position: relative;
  z-index: 3;
  font-size: 31.48px;
  font-weight:bold;
  padding: 14.33px 38.80px;

}

.special-offers {
  position: relative;
  z-index: 3;
  margin-bottom: 40.25px;

}

.special-offer {
  width:560px;
  min-height: 229px;
  padding-left:18px;
  padding-right: 20px;
  padding-top: 17.67px;
  padding-bottom: 22.89px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight:bold;
  color: #ffffff;
  line-height: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
   box-sizing: border-box;
}

h2.special-offer-header{
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 35px;
  font-weight:bold;
  color: #ffffff;
  line-height: 30px;
  margin-bottom: 16px;
  margin-top:0;
}

.special-offers p {
  margin-top:0;
  margin-bottom: 27.29px;
  min-height: 58.78px;
}

.malinka {
  background: url("../img/special_offer_malinka.png") no-repeat;
  background-size: cover;
  float: left;
}

.chocolate {
  background: url("../img/special_offer_chocolate.png") no-repeat;
  background-size: cover;
  float: right;
}

 .btn-special-offer {
   text-align: right;
   font-size: 18px;
   font-weight:bold;
}

.btn-special-offer a {
  padding: 12.99px 21.86px;
}

.hit-list {
font-size: 0;
  margin-bottom: 39.83px;
}

.hit {
  display: inline-block;
  margin-right: 26px;
  width: 267px;
  text-align: center;
 }

.hit:last-child {
  margin-right: 0;
}

.hit-image {
  width:267px;
  height: 267px;
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
 }
.hit-icon {
  font-size: 0;
}
.hit-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  z-index: 3;
  background: #ff0000;
}
.hit-image-price {
  vertical-align: bottom;
  position: absolute;
  top: 208.5px;
  left:0;
  z-index: 100;
  font-size: 45px;
  font-weight:bold;
  line-height: 52px;
  color: #ffffff;
}

.hit-image-price .kg{
  font-size: 30px;
  font-weight:bold;
  color: #ffffff;
}
.hit-image-price-P {
  font-size: 0;
}

.hit-image-price-P::after {
  content: "";
  position: absolute;
  top: 9.36px;
  left: 85.04px;
  width: 31px;
  height: 36px;
  z-index: 3;
  background: #ff0000;

}

.hit-image-price-P {
  margin:0 20px;
}


.hit-image-icecream {
  margin-bottom: 15px;
}

.hit-title a {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  line-height: 22px;
}



.seo {
  background: url("../img/seo-pattern.jpg") repeat;
  width: 1146px;
  min-height: 306.17px;
  padding-top: 27.17px;
  padding-left: 20.81px;
  padding-bottom: 13.8px;
  padding-right: 15.18px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #353535;
  vertical-align: top;
  margin-bottom: 40px;
}

.seo-header {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
   margin:0;
  margin-bottom: 9.81px;
}

.seo-text {
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin:0;
}

.seo-content1, .seo-content2, .seo-content3, .seo-content4  {
  display: inline-block;
  margin-bottom: 11.15px;
  position: relative;
  padding-left: 55.84px;
  padding-top: 14.69px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.seo-content1, .seo-content3 {
  max-width:535.79px;
  margin-right: 25.75px;
}

.seo-content2, .seo-content4 {
  max-width:540px;
}

.seo-content1 .seo-icon::after {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width:48px;
  height: 48px;
  background: #ff0000;
}

.seo-content2 .seo-icon::after {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width:48px;
  height: 48px;
  background: #ff0000;
}

.seo-content3 .seo-icon::after {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width:48px;
  height: 48px;
  background: #ff0000;
}
.seo-content4 .seo-icon::after {
  content: "";
  position: absolute;
  top:0;
  left: 0;
  width:48px;
  height: 48px;
  background: #ff0000;
}

.wrapper-blognews-mailing {
  margin-bottom: 39.78px;
 }

.blog-news {
  background: url("../img/blog_news_bd.png") no-repeat;
  max-width: 560px;
  min-height: 220px;
  float: left;
  padding-top: 25.71px;
  padding-left: 20.81px;
  padding-right: 254.98px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.blog-news span {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #353535;
  font-size: 16px;
  font-weight: 500;
  margin:0;
  margin-bottom: 8px;
}

.main-news {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #353535;
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  margin:0;
}

h3.main-news {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #353535;
  line-height: 29px;
}


.mailing {
  background: url("../img/mailing_form_bd.png") no-repeat;
  max-width: 560px;
  min-height: 220px;
  float: right;
  padding-top: 36.86px;
  padding-left: 26.19px;
  padding-right: 23px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mailing p {
  font-family: 'Roboto', Helvetica, sans-serif;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin:0;
  margin-bottom: 37.29px;
}
.mailing-form {
  font-size: 0;
  vertical-align: top;
}

.mailing-form input[type="email"] {
  max-width: 367.11px;
  display: inline-block;
}
.mailing-form label{
  margin: 0;
  padding: 0;
}

.mailing-form button[type="submit"] {
  text-align: right;
  font-size: 18px;
  font-weight:bold;
  padding: 12.99px 21.86px;
  display: inline-block;
}

.mailing-form fieldset{
  padding: 0;
  margin: 0;
  border: none;
}

.map .container-center {
  min-height: 429.43px;
  max-width:1200px;
}

 .map .container-center {
   padding: 0;
   position: relative;
   display: table;
 }

 .map-contacts {
   background: red;
   position: absolute;
   right:0;
   top: 50%;
   width: 302px;
   height: 305px;
   margin-top:-152.5px;
 }

 .footer-social {
width:182.56px;
   float: left;
   margin-right: 217.78px;
 }

.footer-about-us {
width:326.29px;
  float: left;
}

.footer-copyright {
width:187.81px;
  float: right;
}

h1.container-header-header{
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 35px;
  font-weight:bold;
  color: #ffffff;
  line-height: 30px;}

.icecream-title {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #ffffff;
  line-height: 22px;}
